@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  padding: 0;
  background: white;
  color: #051b3f;
}

a {
  text-decoration: none;
  color: inherit;
}
.purple-text{
    color: #7400b8;
}
/* styling  navbar */
.logoimg {
  display: none;
}
.navbar {
  min-height: 90px;
  background-image: linear-gradient(
    90deg,
    rgba(116, 0, 184, 1) 0%,
    rgba(105, 48, 195, 1) 32%,
    rgba(83, 144, 217, 1) 64%,
    rgba(86, 207, 225, 1) 100%,
    rgba(128, 255, 219, 1) 100%
  );
}
.navbar-expand-lg .navbar-collapse {
  justify-content: space-between;
}
.navbar .navbar-brand {
  display: flex;
}
.navbar .navbar-brand img {
  height: 50px;
}
.brand-name {
  font-weight: 500;
  padding-left: 10px;
  color: white;
}
.nav1 {
  margin-left: 50px;
}
@media only screen and (max-width: 1000px) {
  .nav1 {
    margin-left: 0;
  }
  .logoimg {
    display: flex;
  }
  .logotext {
    display: none;
  }
}
.nav-link {
  color: white !important;
  font-size: larger;
  font-weight: bolder;
}
ul li.nav-item a:hover {
  color: gainsboro !important;
}

/* hero section */

.store{
  margin: 100px auto;
}
.message{
    font-weight: bold;
}
.store-name{
    font-weight: bolder;
}
.small-image{
    height: 30px;
    width: 30px;
}
.store-info{
    display: flex;
    justify-content: space-between;
}
.description{
    display: flex;
}
.description div{
    margin-right: 20px;
}
.other-info{
    display: flex;
    justify-content: space-around;
}
.other-info div{
    margin-right: 20px;
}
/* Product Tiles */
.product-card{
  width: 800px;
  border: none;
}
.list-item{
  display: flex;
  justify-content: space-between;
  background-color: #7400b8;
  align-items: center;
  color: white;
  margin: 10px 0px;
  border-radius: 10px !important;
}
.purple-btn{
    background-color: #7400b8 !important;
    font-size: 1.1em;
    font-weight: bold;
}
.product-name, .product-cost{
  font-size: 1.25em !important;
  font-weight: bold; 
}
.shop-icon{
  height: 50px;
  width: 50px;
}
.profile-pic{
    height: 50px;
    width: 50px;
}
.search-bar{
    margin: 2em;
}
.rule{
    size: 2em !important;
}
.not-available{
  background-color: thistle;
  color: sienna;
}
.card{
    margin: 10px;
}