{% extends "base.html" %}

{% block nav %}
<li class="nav-item"><a class="nav-link" href="/new_item">Add Item</a></li>
<li class="nav-item"><a class="nav-link" href="#">Shop Details</a></li>
{% endblock %}

{% block content %}
<h1 style="text-align: center">Products Present</h1>
<hr>
{% if new_item %}
<div class="{{ new_item.type }}" role="alert">
  {{ new_item.message }}
</div>
{% endif %}
<div class="container">
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
        {% for name, price in item.items() %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{name}}</td>
        <td>Rs.{{price}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}