{% extends "base.html" %}

{% block content %}

    <section class="hero-section">
      <div class="containerr my-5 py-5">
        <!--Section: Content-->
        <section
          class="px-md-2 mx-md-2 dark-grey-text text-center text-lg-left"
        >
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div
              class="col-lg-8 mb-4 mb-lg-0 d-flex align-items-center justify-content-center"
            >
              <img src="./static/images/storefront.png" class="" alt="" />
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 mb-4 mb-lg-0 center">
              <h1 class="font-weight-bold">
                Put Your Bussiness Online for Free and with 0 effort
              </h1>

              <p class="font-weight-bold">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero
                perspiciatis officiis fuga quasi a dolorum provident aperiam,
                voluptate ab, vel enim. Sit minima neque corporis animi qui,
                veritatis ipsam ea!
              </p>

              <p class="text-muted">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id
                quam sapiente molestiae numquam quas, voluptates omnis nulla ea
                odio quia similique corrupti magnam, doloremque laborum.
              </p>

              <a class="font-weight-bold" href="#"
                >Learn more<i class="fas fa-angle-right ml-2"></i
              ></a>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </section>
        <!--Section: Content-->
      </div>
    </section>

{% endblock %}
